@charset "UTF-8";
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'vintage';
  src: url("../fonts/portico_vintage-webfont.eot");
  src: url("../fonts/portico_vintage-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/portico_vintage-webfont.woff2") format("woff2"), url("../fonts/portico_vintage-webfont.woff") format("woff"), url("../fonts/portico_vintage-webfont.ttf") format("truetype"), url("../fonts/portico_vintage-webfont.svg#porticovintage") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'wedbev';
  src: url("../fonts/wedbev.eot?clzffa");
  src: url("../fonts/wedbev.eot?clzffa#iefix") format("embedded-opentype"), url("../fonts/wedbev.ttf?clzffa") format("truetype"), url("../fonts/wedbev.woff?clzffa") format("woff"), url("../fonts/wedbev.svg?clzffa#wedbev") format("svg");
  font-weight: normal;
  font-style: normal; }

.element::-webkit-scrollbar {
  width: 0; }

.element {
  -ms-overflow-style: none; }

.element {
  overflow: -moz-scrollbars-none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:focus {
    outline: none; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "montserrat", Arial, Lato, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #cfcbc8;
  background-color: #171a21;
  margin: 0;
  font-weight: normal; }

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

a:hover {
  text-decoration: none; }

a:focus {
  outline: none;
  text-decoration: none; }

img {
  border: none;
  max-width: 100%;
  vertical-align: middle; }

ul {
  margin: 0;
  list-style: none;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

input, button, textarea, select {
  outline: none; }

.vertical-align::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px; }

.vertical-align > * {
  display: inline-block;
  vertical-align: middle; }

.clear {
  clear: both; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.btn-wrap {
  display: inline-block;
  width: 100%;
  text-align: center; }

[class^="wedbev"], [class*=" wedbev"] {
  font-family: 'wedbev' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wedbevviber:before {
  content: "\e900"; }

.wedbevlogo-5-1:before {
  content: "\e901"; }

.wedbevlogo-5-2:before {
  content: "\e902"; }

.wedbevlogo-5-3:before {
  content: "\e903"; }

.wedbevlogo-5-4:before {
  content: "\e904"; }

.wedbevlogo-5-5:before {
  content: "\e905"; }

.wedbevlogo-6-1:before {
  content: "\e906"; }

.wedbevlogo-6-2:before {
  content: "\e907"; }

.wedbevlogo-6-3:before {
  content: "\e908"; }

.wedbevlogo-6-4:before {
  content: "\e909"; }

.wedbevlogo-6-5:before {
  content: "\e90a"; }

.wedbevlogo-11-1:before {
  content: "\e90b"; }

.wedbevlogo-11-2:before {
  content: "\e90c"; }

.wedbevlogo-11-3:before {
  content: "\e90d"; }

.wedbevlogo-11-4:before {
  content: "\e90e"; }

.wedbevlogo-11-5:before {
  content: "\e90f"; }

.wedbevtwitter:before {
  content: "\e910"; }

.wedbevinstagram:before {
  content: "\e911"; }

.wedbevgoogle-plus-square:before {
  content: "\e912"; }

.wedbevskype:before {
  content: "\e913"; }

.wedbevtelegram:before {
  content: "\e914"; }

.wedbevyoutube-square:before {
  content: "\e915"; }

.wedbevfacebook:before {
  content: "\e916"; }

.wedbevlinkedin:before {
  content: "\e917"; }

.wedbevvk:before {
  content: "\e918"; }

.wedbevgithub-alt:before {
  content: "\e919"; }

body::-webkit-scrollbar {
  width: 0; }

.element {
  -ms-overflow-style: none; }

.element {
  overflow: -moz-scrollbars-none; }

.btn-top {
  display: inline-block;
  width: 150px;
  position: absolute;
  top: 0;
  left: calc(50% - 75px);
  cursor: pointer;
  font-size: 20px;
  -moz-user-select: none;
  /* Mozilla Firefox */
  -ms-user-select: none;
  /* Internet Explorer (не поддерживается) */
  -o-user-select: none;
  /* Opera Presto (не поддерживается) */
  -webkit-user-select: none;
  /* Google Chrome, Opera Next, Safari */
  z-index: 25;
  text-transform: uppercase;
  padding-right: 12px; }

.btn-bot {
  text-align: center;
  display: inline-block;
  width: 150px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 75px);
  cursor: pointer;
  font-size: 20px;
  -moz-user-select: none;
  /* Mozilla Firefox */
  -ms-user-select: none;
  /* Internet Explorer (не поддерживается) */
  -o-user-select: none;
  /* Opera Presto (не поддерживается) */
  -webkit-user-select: none;
  /* Google Chrome, Opera Next, Safari */
  text-transform: uppercase;
  padding-right: 6px; }

.curriculum-block {
  background: yellow;
  position: relative; }
  .curriculum-block .content-wrap {
    background: red;
    height: 200vh;
    margin: 100px 0;
    display: inline-block;
    width: 100%; }

.main-block {
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  background: #171a21;
  z-index: 10; }
  .main-block.finish .angle-wrap .line1 {
    width: 100%; }
  .main-block.finish .angle-wrap .line2 {
    height: 100%; }
  .main-block.finish .angle-wrap .line3 {
    width: 25px; }
  .main-block.finish .angle-wrap .line4 {
    height: 25px; }
  .main-block.finish .angle-wrap .line5 {
    width: 36px; }
  .main-block.finish .angle-wrap .line6 {
    height: 36px; }
  .main-block.finish .angle-wrap .line7 {
    width: 25px; }
  .main-block.finish .angle-wrap .line8 {
    height: 25px; }
  .main-block.finish .angle-wrap .line9 {
    width: 100px; }
  .main-block.finish .angle-wrap .line10 {
    height: 60px; }
  .main-block.finish .angle-wrap .line11 {
    width: 70px; }
  .main-block.finish .angle-wrap .line12 {
    height: 50px; }
  .main-block.finish .main-line {
    box-shadow: 0 0 20px 8px #0d0e13;
    top: calc(50% - 105px);
    height: 210px;
    background: #14161c; }
    .main-block.finish .main-line .main-logo {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1; }
  .main-block.finish .main-text span {
    color: #cfcbc8; }
    .main-block.finish .main-text span:nth-child(1), .main-block.finish .main-text span:nth-child(2), .main-block.finish .main-text span:nth-child(3), .main-block.finish .main-text span:nth-child(5), .main-block.finish .main-text span:nth-child(6), .main-block.finish .main-text span:nth-child(7) {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
  .main-block.finish .main-logo {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: #14161c; }
  .main-block.finish [data-top] .btn-text, .main-block.finish [data-bot] .btn-text {
    opacity: 1; }
  .main-block.finish [data-top] .line1, .main-block.finish [data-bot] .line1 {
    height: 15px; }
  .main-block .content-wrap {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%; }
  .main-block .angle {
    position: absolute; }
    .main-block .angle.top-left {
      left: 50px;
      top: 50px; }
      .main-block .angle.top-left .line1 {
        left: 0;
        top: 0; }
      .main-block .angle.top-left .line2 {
        top: 0;
        left: 0; }
      .main-block .angle.top-left .line3 {
        top: 9px;
        left: 9px; }
      .main-block .angle.top-left .line4 {
        top: 9px;
        left: 9px; }
      .main-block .angle.top-left .line5 {
        top: 31px;
        left: 9px; }
      .main-block .angle.top-left .line6 {
        top: 9px;
        left: 31px; }
      .main-block .angle.top-left .line7 {
        top: 42px;
        right: calc(100% - 34px); }
      .main-block .angle.top-left .line8 {
        bottom: calc(100% - 34px);
        left: 42px; }
      .main-block .angle.top-left .line9 {
        top: 9px;
        left: 42px; }
      .main-block .angle.top-left .line10 {
        top: 42px;
        left: 9px; }
      .main-block .angle.top-left .line11, .main-block .angle.top-left .line12 {
        top: 19px;
        left: 19px; }
    .main-block .angle.top-right {
      top: 50px;
      right: 50px; }
      .main-block .angle.top-right .line1 {
        right: 0;
        top: 0; }
      .main-block .angle.top-right .line2 {
        top: 0;
        right: 0; }
      .main-block .angle.top-right .line3 {
        top: 9px;
        right: 9px; }
      .main-block .angle.top-right .line4 {
        top: 9px;
        right: 9px; }
      .main-block .angle.top-right .line5 {
        top: 31px;
        right: 9px; }
      .main-block .angle.top-right .line6 {
        top: 9px;
        right: 31px; }
      .main-block .angle.top-right .line7 {
        top: 42px;
        left: calc(100% - 34px); }
      .main-block .angle.top-right .line8 {
        bottom: calc(100% - 34px);
        right: 42px; }
      .main-block .angle.top-right .line9 {
        top: 9px;
        right: 42px; }
      .main-block .angle.top-right .line10 {
        top: 42px;
        right: 9px; }
      .main-block .angle.top-right .line11, .main-block .angle.top-right .line12 {
        top: 19px;
        right: 19px; }
    .main-block .angle.bot-left {
      left: 50px;
      bottom: 50px; }
      .main-block .angle.bot-left .line1 {
        bottom: 0;
        left: 0; }
      .main-block .angle.bot-left .line2 {
        bottom: 0;
        left: 0; }
      .main-block .angle.bot-left .line3 {
        bottom: 9px;
        left: 9px; }
      .main-block .angle.bot-left .line4 {
        bottom: 9px;
        left: 9px; }
      .main-block .angle.bot-left .line5 {
        bottom: 31px;
        left: 9px; }
      .main-block .angle.bot-left .line6 {
        bottom: 9px;
        left: 31px; }
      .main-block .angle.bot-left .line7 {
        bottom: 42px;
        right: calc(100% - 34px); }
      .main-block .angle.bot-left .line8 {
        top: calc(100% - 34px);
        left: 42px; }
      .main-block .angle.bot-left .line9 {
        bottom: 9px;
        left: 42px; }
      .main-block .angle.bot-left .line10 {
        bottom: 42px;
        left: 9px; }
      .main-block .angle.bot-left .line11, .main-block .angle.bot-left .line12 {
        bottom: 19px;
        left: 19px; }
    .main-block .angle.bot-right {
      bottom: 50px;
      right: 50px; }
      .main-block .angle.bot-right .line1 {
        right: 0;
        bottom: 0; }
      .main-block .angle.bot-right .line2 {
        bottom: 0;
        right: 0; }
      .main-block .angle.bot-right .line3 {
        bottom: 9px;
        right: 9px; }
      .main-block .angle.bot-right .line4 {
        bottom: 9px;
        right: 9px; }
      .main-block .angle.bot-right .line5 {
        bottom: 31px;
        right: 9px; }
      .main-block .angle.bot-right .line6 {
        bottom: 9px;
        right: 31px; }
      .main-block .angle.bot-right .line7 {
        bottom: 42px;
        left: calc(100% - 34px); }
      .main-block .angle.bot-right .line8 {
        top: calc(100% - 34px);
        right: 42px; }
      .main-block .angle.bot-right .line9 {
        bottom: 9px;
        right: 42px; }
      .main-block .angle.bot-right .line10 {
        bottom: 42px;
        right: 9px; }
      .main-block .angle.bot-right .line11, .main-block .angle.bot-right .line12 {
        bottom: 19px;
        right: 19px; }
  .main-block .angle-wrap {
    width: 205px;
    height: 145px;
    position: relative; }
    .main-block .angle-wrap .line1, .main-block .angle-wrap .line3, .main-block .angle-wrap .line5, .main-block .angle-wrap .line7, .main-block .angle-wrap .line9, .main-block .angle-wrap .line11 {
      position: absolute;
      height: 3px;
      width: 0;
      background: #cfcbc8; }
    .main-block .angle-wrap .line2, .main-block .angle-wrap .line4, .main-block .angle-wrap .line6, .main-block .angle-wrap .line8, .main-block .angle-wrap .line10, .main-block .angle-wrap .line12 {
      position: absolute;
      width: 3px;
      height: 0;
      background: #cfcbc8; }
    .main-block .angle-wrap .line1 {
      -webkit-transition: .8s linear;
      -moz-transition: .8s linear;
      -ms-transition: .8s linear;
      -o-transition: .8s linear;
      transition: .8s linear; }
    .main-block .angle-wrap .line2 {
      -webkit-transition: .7s .1s linear;
      -moz-transition: .7s .1s linear;
      -ms-transition: .7s .1s linear;
      -o-transition: .7s .1s linear;
      transition: .7s .1s linear; }
    .main-block .angle-wrap .line3, .main-block .angle-wrap .line4 {
      -webkit-transition: .2s .3s linear;
      -moz-transition: .2s .3s linear;
      -ms-transition: .2s .3s linear;
      -o-transition: .2s .3s linear;
      transition: .2s .3s linear; }
    .main-block .angle-wrap .line5, .main-block .angle-wrap .line6 {
      -webkit-transition: .2s .45s linear;
      -moz-transition: .2s .45s linear;
      -ms-transition: .2s .45s linear;
      -o-transition: .2s .45s linear;
      transition: .2s .45s linear; }
    .main-block .angle-wrap .line7, .main-block .angle-wrap .line8 {
      -webkit-transition: .15s .7s linear;
      -moz-transition: .15s .7s linear;
      -ms-transition: .15s .7s linear;
      -o-transition: .15s .7s linear;
      transition: .15s .7s linear; }
    .main-block .angle-wrap .line9, .main-block .angle-wrap .line10 {
      -webkit-transition: .4s .8s linear;
      -moz-transition: .4s .8s linear;
      -ms-transition: .4s .8s linear;
      -o-transition: .4s .8s linear;
      transition: .4s .8s linear; }
    .main-block .angle-wrap .line11, .main-block .angle-wrap .line12 {
      -webkit-transition: .5s .8s linear;
      -moz-transition: .5s .8s linear;
      -ms-transition: .5s .8s linear;
      -o-transition: .5s .8s linear;
      transition: .5s .8s linear; }
  .main-block .main-text {
    font-family: 'vintage';
    font-size: 150px;
    letter-spacing: .05em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cfcbc8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 21;
    -moz-user-select: none;
    /* Mozilla Firefox */
    -ms-user-select: none;
    /* Internet Explorer (не поддерживается) */
    -o-user-select: none;
    /* Opera Presto (не поддерживается) */
    -webkit-user-select: none;
    /* Google Chrome, Opera Next, Safari */ }
    .main-block .main-text span {
      color: transparent; }
      .main-block .main-text span:nth-child(1) {
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
        transform: translateX(-200px);
        -webkit-transition: 1s .9s;
        -moz-transition: 1s .9s;
        -ms-transition: 1s .9s;
        -o-transition: 1s .9s;
        transition: 1s .9s; }
      .main-block .main-text span:nth-child(2) {
        -webkit-transition: 1s .7s;
        -moz-transition: 1s .7s;
        -ms-transition: 1s .7s;
        -o-transition: 1s .7s;
        transition: 1s .7s;
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
        transform: translateX(-200px); }
      .main-block .main-text span:nth-child(3) {
        -webkit-transition: 1s .5s;
        -moz-transition: 1s .5s;
        -ms-transition: 1s .5s;
        -o-transition: 1s .5s;
        transition: 1s .5s;
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
        transform: translateX(-200px); }
      .main-block .main-text span:nth-child(4) {
        -webkit-transition: 1s .5s;
        -moz-transition: 1s .5s;
        -ms-transition: 1s .5s;
        -o-transition: 1s .5s;
        transition: 1s .5s; }
      .main-block .main-text span:nth-child(5) {
        -webkit-transition: 1s .5s;
        -moz-transition: 1s .5s;
        -ms-transition: 1s .5s;
        -o-transition: 1s .5s;
        transition: 1s .5s;
        -webkit-transform: translateX(200px);
        -moz-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -o-transform: translateX(200px);
        transform: translateX(200px); }
      .main-block .main-text span:nth-child(6) {
        -webkit-transition: 1s .7s;
        -moz-transition: 1s .7s;
        -ms-transition: 1s .7s;
        -o-transition: 1s .7s;
        transition: 1s .7s;
        -webkit-transform: translateX(200px);
        -moz-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -o-transform: translateX(200px);
        transform: translateX(200px); }
      .main-block .main-text span:nth-child(7) {
        -webkit-transition: 1s .9s;
        -moz-transition: 1s .9s;
        -ms-transition: 1s .9s;
        -o-transition: 1s .9s;
        transition: 1s .9s;
        -webkit-transform: translateX(200px);
        -moz-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -o-transform: translateX(200px);
        transform: translateX(200px); }
    .main-block .main-text span::selection {
      background: #cfcbc8;
      color: #171a21; }
    .main-block .main-text span::-moz-selection {
      background: #cfcbc8;
      color: #171a21; }
  .main-block .main-line {
    position: absolute;
    top: calc(50% - 95px);
    height: 190px;
    width: 120%;
    left: -10%;
    overflow: hidden;
    background: transparent;
    z-index: 20;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    transition: .8s; }
    .main-block .main-line .main-logo {
      opacity: 0;
      -webkit-transition: .8s;
      -moz-transition: .8s;
      -ms-transition: .8s;
      -o-transition: .8s;
      transition: .8s; }
  .main-block .main-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 700px;
    color: #17191f;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .main-block [data-top], .main-block [data-bot] {
    text-align: center;
    position: absolute;
    left: calc(50% - 75px);
    font-size: 18px;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 25;
    text-transform: uppercase;
    display: inline-block;
    width: 150px;
    cursor: pointer; }
    .main-block [data-top]:hover .line2, .main-block [data-bot]:hover .line2 {
      height: 27px; }
    .main-block [data-top] .btn-text, .main-block [data-bot] .btn-text {
      display: inline-block;
      width: 100%;
      text-align: center;
      position: relative;
      opacity: 0;
      color: #cfcbc8;
      -webkit-transition: .4s .7s;
      -moz-transition: .4s .7s;
      -ms-transition: .4s .7s;
      -o-transition: .4s .7s;
      transition: .4s .7s; }
    .main-block [data-top] .line1, .main-block [data-bot] .line1 {
      position: absolute;
      width: 2px;
      left: calc(50% - 1px);
      height: 0;
      background: #cfcbc8;
      -webkit-transition: .4s .4s;
      -moz-transition: .4s .4s;
      -ms-transition: .4s .4s;
      -o-transition: .4s .4s;
      transition: .4s .4s; }
    .main-block [data-top] .line2, .main-block [data-bot] .line2 {
      position: absolute;
      width: 2px;
      left: calc(50% - 1px);
      height: 0;
      background: #cfcbc8;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .main-block [data-top] .line2:before, .main-block [data-bot] .line2:before {
        content: '';
        position: absolute;
        width: 2px;
        left: 0;
        height: 30px;
        background: #cfcbc8;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        -webkit-transform: rotate(-35deg);
        -moz-transform: rotate(-35deg);
        -ms-transform: rotate(-35deg);
        -o-transform: rotate(-35deg);
        transform: rotate(-35deg); }
      .main-block [data-top] .line2:after, .main-block [data-bot] .line2:after {
        content: '';
        position: absolute;
        width: 2px;
        right: -3px;
        height: 10px;
        background: #cfcbc8;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        -webkit-transform: rotate(-35deg);
        -moz-transform: rotate(-35deg);
        -ms-transform: rotate(-35deg);
        -o-transform: rotate(-35deg);
        transform: rotate(-35deg); }
  .main-block [data-top] {
    top: 0; }
    .main-block [data-top] .btn-text {
      padding: 30px 0 0; }
    .main-block [data-top] .line1 {
      top: 0; }
    .main-block [data-top] .line2 {
      top: 15px; }
      .main-block [data-top] .line2:after {
        top: -30px; }
      .main-block [data-top] .line2:before {
        top: -30px; }
  .main-block [data-bot] {
    bottom: 0; }
    .main-block [data-bot] .btn-text {
      padding: 0 0 30px; }
    .main-block [data-bot] .line1 {
      bottom: 0; }
    .main-block [data-bot] .line2 {
      bottom: 0; }
      .main-block [data-bot] .line2:after {
        bottom: -15px; }
      .main-block [data-bot] .line2:before {
        bottom: -15px; }

.examples-block {
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100%;
  background: #171a21;
  overflow: hidden; }
  .examples-block .content-wrap {
    background: red;
    height: 200vh;
    margin: 100px 0;
    display: inline-block;
    width: 100%; }
